// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "octicon-mixins";

.ldfa {
    // background-color: @base-background-color;

    // TODO delete me
    .ldfa-panel {
        // background-color: @base-background-color;
    }

    // TODO delete me
    overflow: auto;

    // TODO delete me
    .panels-row {
        display: -webkit-flex;
        -webkit-flex-direction: row;
    }

    // TODO delete me
    .package-panel {
        display: -webkit-flex;
        -webkit-flex-direction: row;
        flex: 1;

        .list-group {
            overflow: hidden;
        }

        .inset-panel {
            width: 100%;
        }
    }

    .height-full {
        height: 100%;
        max-heigh: 100%;
    }

    .height-half {
        height: 50vh;
    }

    .height-third {
        max-height: 33%;
    }

    .height-quarter {
        max-height: 25%;
    }

    .width-full {
        width: 100%;
    }

    .width-half {
        width: 50%;
    }

    .width-third {
        width: 33%;
    }

    .width-quarter {
        width: 25%;
    }

    .flex-container-row {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }

    .flex-container-column {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }

    .flex-container-content {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .align-left {
        justify-content: flex-start;
    }

    .align-center {
        justify-content: center;
    }

    .align-right {
        justify-content: flex-end;
    }

    .scrollable {
        overflow: auto;
    }

    .results-table {
        // margin: @component-padding / 2 @component-padding;

        table {
            width: 100%;
            border: 1px groove @text-color;
            display: flex;
            flex-direction: column;
        }

        thead {
            width: 100%;
            display: table;
            table-layout: fixed;
        }

        tbody {
            // overflow-y: scroll;
            // height: 300px;
        }

        tbody tr {
            display: table;
            table-layout: fixed;
            width: 100%;
        }

        th, td {
            min-width: 75px;
            padding: 10px 6px;
            word-break: break-word;
            cursor: pointer;
        }

        tr {
            &:nth-child(2n + 1) {
                background-color: @overlay-background-color;
            }
            &:hover {
                background-color: @background-color-selected;
            }
        }

        td + td, th + th {
            border-left: 1px groove @text-color;
        }

        th {
            background-color: @tab-bar-background-color;
            border-bottom: 1px groove @text-color;

            &:hover {
                background-color: @tab-bar-background-color;
            }
        }

        // sorting
        .sort_icon(@name, @size: 12px) {
            @import "octicon-utf-codes.less";
            &::after {
                .icon(@size);
                content: @@name;
                float: right;
          }
        }

        .sorting_desc {
            .sort_icon(triangle-down);
        }
        .sorting_asc {
            .sort_icon(triangle-up);
        }


        // show # of entries
        .dataTables_length {
            padding: @component-padding;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            label {
                color: @text-color-subtle;
            }
            select {
                background-color: @input-background-color;
                border: 1px groove @input-border-color;
                border-radius: @component-border-radius;
                color: @text-color-subtle;
                padding: @component-icon-padding;
                margin-left: @component-icon-padding;
                margin-right: @component-icon-padding;
                &:hover {
                    color: @text-color-highlight;
                    border: 1px solid @button-background-color-selected;
                }
            }
        }
        // search
        .dataTables_filter {
            padding: @component-padding;
            width: 100%;
            margin-top: -50px;
            display: flex;
            justify-content: flex-start;
            label {
                color: @text-color-subtle;
            }
            input {
                background-color: @input-background-color;
                border: 1px groove @input-border-color;
                border-radius: @component-border-radius;
                color: @text-color-subtle;
                padding: @component-icon-padding;
                margin-left: @component-icon-padding;
                &:focus {
                    color: @text-color-highlight;
                    border: 1px solid @button-background-color-selected;
                }
            }
        }

        .dataTables_paginate {
            display: inline-block;
            text-align: right;
            width: 50%;
        }
        // pagination buttons
        .paginate_button {
            background-color: @button-background-color;
            border: 1px groove @button-border-color;
            padding: @component-padding;
            color: @text-color;
            border-radius: @component-border-radius;

            &:hover {
                background-color: @button-background-color-hover;
                text-decoration: none;
            }
        }

        .disabled {
            background-color: transparent;
            border: none;
            color: @text-color-subtle;

            &:hover {
                background-color: transparent;
            }
        }

        .current {
            background-color: @button-background-color-selected;
            color: @text-color-selected;

            &:hover {
                background-color: @button-background-color-selected;
            }
        }

        .ellipsis {
            padding: @component-padding;
            color: @text-color-subtle;
        }

        .dataTables_info {
            margin-top: @component-padding * 2;
            color: @text-color-subtle;
            width: 50%;
            text-align: left;
            display: inline-block;
        }
    }

}
